---
import WIPLanding from "../layouts/WIPLanding.astro";
---

<WIPLanding title="Error 404">
    <div class="flex flex-col gap-10 max-w-screen-sm">
        <h1 class="text-5xl text-[#FF3A3A] font-display">Oops, något gick fel</h1>
        <p>
            Sidan du letar efter finns inte. Kontrollera webbadressen och försök igen.
        </p>
    </div>
</WIPLanding>