---
import { Image } from "astro:assets";
import LandingLogomarkImg from "../img/landing-logomark.svg";

import DefaultLayout from "../layouts/Default.astro";

import Button from "../components/Button.astro";
import ClientBar from "../components/ClientBar.astro";
import SectionServices from "../components/section/Services.astro";
import SectionConsult from "../components/section/Consult.astro";
import SectionAbout from "../components/section/About.astro";
import SectionContact from "../components/section/Contact.astro";
---

<DefaultLayout
  title="Hem"
  description="WHS Media är ett UF-företag från Skellefteå, Västerbotten som jobbar med professionell live- och medieproduktion till ett rimligt pris."
>
  <main
    class="flex h-screen flex-col justify-center gap-10 bg-landing bg-cover bg-center px-8 lg:items-center"
    id="hero"
  >
    <Image
      src={LandingLogomarkImg}
      alt="WHS Media logomark"
      width={128}
      class="select-none"
    />
    <div class="flex max-w-2xl flex-col gap-2.5 text-stone-50 lg:text-center">
      <h1 class="text-4xl">
        Vi är <span class="font-bold text-whs-primary">WHS Media</span>
      </h1>
      <p>Text</p>
    </div>
    <div class="flex flex-col gap-5 sm:flex-row">
      <Button
        style="solid"
        link="#tjänster"
        target="_self"
        icon="mdi:clipboard-text"
        showIcon="true"
        text="Se tjänster ->"
      />
      <Button
        style="outline"
        link="#kontakt"
        target="_self"
        icon="mdi:hand-wave"
        showIcon="true"
        text="Kontakta oss ->"
      />
    </div>
  </main>
  <ClientBar />
  <SectionServices />
  <SectionConsult />
  <SectionAbout />
  <SectionContact />
</DefaultLayout>
