---
import Button from "../components/Button.astro";

import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout
  title="UF-företag"
  description="WHS Media är ett UF-företag, men vad innebär det egentligen för dig som kund? Finns det några för- och nackdelar med detta?"
>
  <div class="flex justify-center px-8 py-16" id="tjänster">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-10">
        <Button
          style="solid"
          link="/"
          target="_self"
          icon="mdi:home"
          showIcon="false"
          text="<- Tillbaka"
        />
        <div class="flex max-w-2xl flex-col gap-10 text-stone-900">
          <h1 class="text-4xl">
            WHS Media är ett <span class="font-bold">UF-företag</span>
          </h1>
          <p>
            WHS Media är för närvarande ett UF-företag. Men vad innebär detta
            för dig som kund? Vad bör du tänka på när du handlar av ett
            UF-företag? Här kommer du hitta svar på dessa frågor tillsammans med
            användbara resurser.
          </p>
          <h2 class="text-3xl font-bold">Vad är ett UF-företag?</h2>
          <p>
            Ett UF-företag (Ung Företagsamhet) är en pedagogisk verksamhet för
            studenter i gymnasiet och högskolan där de får chansen att driva ett
            riktigt företag under en begränsad tid. Det ger oss (eleverna)
            möjlighet att testa sina egna idéer och utveckla viktiga
            affärsfärdigheter.
          </p>
          <h2 class="text-3xl font-bold">Får WHS Media ingå i avtal?</h2>
          <p>
            WHS Media kan inte ingå avtal som ett företag eftersom vi ägare
            personligen ansvarar för "bolaget". Du kan hitta en mer detaljerad
            beskrivning av de juridiska reglerna för ett UF-företag på
            Skatteverkets hemsida under <a
              href="https://skatteverket.se/foretag/drivaforetag/startaochregistrera/ungaforetagare/ungforetagsamhet.4.5c13cb6b1198121ee8580002425.html"
              target="_blank"
              class="font-bold text-whs-primary underline decoration-2 underline-offset-2"
              >"Ung företagsamhet och sommarlovsföretag"</a
            >.
          </p>
          <h2 class="text-3xl font-bold">Hur betalar jag till WHS Media?</h2>
          <p>
            WHS Media skickar primärt fakturor på samma sätt som andra företag,
            men det finns några särskilda instruktioner för betalning och
            redovisning.<br /><br />
             Eftersom det är privatpersoner som fakturerar och inte ett företag
            kommer fakturan att ha personnummer istället för
            organisationsnummer. Detta är helt normalt, och du kan betala
            fakturan som vanligt.<br /><br />
             Beroende på om du är en privatkund eller företagskund som tar emot
            våra tjänster finns det några saker du bör tänka på:
          </p>
          <h3 class="text-2xl font-bold">Redovisning för privatperson</h3>
          <p>
            <b>Om du betalat mellan 1 000-9 999 kronor under ett år,</b>
             måste du lämna in kontrolluppgiften <a
              href="https://www.skatteverket.se/foretag/etjansterochblanketter/blanketterbroschyrer/blanketter/info/2300.4.39f16f103821c58f680006364.html"
              target="_blank"
              class="font-bold text-whs-primary underline decoration-2 underline-offset-2"
              >"KU10"</a
            > till Skatteverket.<br /><br /><b
              >Om du under ett år betalar mer än 10 000 kronor</b
            > behöver du skicka in en <a
              href="https://www.skatteverket.se/privat/etjansterochblanketter/blanketterbroschyrer/blanketter/info/4805.4.39f16f103821c58f680006744.html"
              target="_blank"
              class="font-bold text-whs-primary underline decoration-2 underline-offset-2"
              >förenklad arbetsgivardeklaration</a
            > till Skatteverket. Som privatkund måste du också dra av
            inkomstskatt från ersättningen och skicka in detta tillsammans med
            arbetsgivaravgifterna till Skatteverket.<br /><br />
             Läs mer om att anlita en privatperson på Skatteverkets hemsida
            under <a
              href="https://skatteverket.se/privat/skatter/arbeteochinkomst/inkomster/anlitaenprivatperson.4.d1afd3103d689ac2a80002439.html"
              target="_blank"
              class="font-bold text-whs-primary underline decoration-2 underline-offset-2"
              >"Anlita en privatperson"</a
            >.
          </p>
          <h3 class="text-2xl font-bold">Redovisning för företag</h3>
          <p>
            <b>Om du har betalat mellan 100-999 kronor under ett år</b> bör
            företaget lämna in uppgifter om den utbetalda ersättningen för varje
            medlem i UF-företaget i sin arbetsgivardeklaration.<br /><br /><b
              >Om du har betalat mer än 1 000 kronor under ett år</b
            > bör ditt företag lämna in uppgifter om den utbetalda ersättningen
            för varje medlem i UF-företaget i din arbetsgivardeklaration.
            Dessutom bör ditt företag dra av inkomstskatt från ersättningen och
            skicka in det tillsammans med arbetsgivaravgifterna till
            Skatteverket.
            <br /><br />
             Läs mer om att anlita en privatperson på Skatteverkets hemsida
            under <a
              href="https://skatteverket.se/privat/skatter/arbeteochinkomst/inkomster/anlitaenprivatperson.4.d1afd3103d689ac2a80002439.html"
              target="_blank"
              class="font-bold text-whs-primary underline decoration-2 underline-offset-2"
              >"Anlita en privatperson"</a
            >.
          </p>
          <h2 class="text-3xl font-bold">
            Vad händer när ett UF-företag avvecklas?
          </h2>
          <p>
            När ett UF-företag avvecklas innebär det att företaget avslutar sin
            verksamhet och upplöses. Under avvecklingsprocessen kommer företaget
            skapa en plan för att avsluta verksamheten. Det kan innebära att
            avsluta avtal & kontrakt korrekt, hantera skattefrågor genom att
            redovisa intäkter, kostnader och eventuella förluster samt lämna in
            skattedeklarationer.<br /><br />Vi kommer informera våra berörda
            kunder om att verksamheten kommer att upphöra tillsammans med tips
            och råd om hur de kan fortsätta ta nytta av våra tjänster.
          </p>
          <h2 class="text-3xl font-bold">Hur arbetar ett UF-företag?</h2>
          <p>
            Ett UF-företag drivs av elever och handledare och följer samma
            regler som vanliga företag. Vi (eleverna) ansvarar för allt från
            produktutveckling till marknadsföring & försäljning. Genom att
            arbeta i en riktig företagsmiljö får vi värdefulla färdigheter som
            problemlösning, teamarbete och affärskommunikation.
          </p>
        </div>
        <div class="flex flex-col gap-5 sm:flex-row">
          <Button
            style="solid"
            link="/#kontakt"
            target="_self"
            icon="mdi:hand-wave"
            showIcon="true"
            text="Kontakta oss ->"
          />
          <Button
            style="outline-invert"
            link="https://ungforetagsamhet.se/"
            target="_blank"
            icon="mdi:heart"
            showIcon="true"
            text="Ung Företagsamhet ->"
          />
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
