---
import Button from "../components/Button.astro";

import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout
  title="UF-företag"
  description="WHS Media är ett UF-företag, men vad innebär det egentligen för dig som kund? Finns det några för- och nackdelar med detta?"
>
  <div class="flex justify-center px-8 py-16" id="tjänster">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-10">
        <Button
          style="solid"
          link="/"
          target="_self"
          icon="mdi:home"
          showIcon="false"
          text="<- Tillbaka"
        />
        <div class="flex max-w-2xl flex-col gap-10 text-stone-900">
          <h1 class="text-4xl">
            WHS Media är ett <span class="font-bold">UF-företag</span>
          </h1>
          <p>Text</p>
        </div>
        <div class="flex flex-col gap-5 sm:flex-row">
          <Button
            style="solid"
            link="/#kontakt"
            target="_self"
            icon="mdi:hand-wave"
            showIcon="true"
            text="Kontakta oss ->"
          />
          <Button
            style="outline-invert"
            link="https://ungforetagsamhet.se/"
            target="_blank"
            icon="mdi:heart"
            showIcon="true"
            text="Ung Företagsamhet ->"
          />
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
