---
import { Image } from "astro:assets";
---

<div class="flex justify-center px-8 py-32" id="kunder">
  <div class="flex max-w-2xl select-none flex-col gap-5 md:flex-row md:gap-10">
    <a
      href="#"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök kundens hemsida"
    >
      <Image
        src="https://placehold.co/128x64/171717/404040"
        width="128"
        height="64"
        alt=""
      />
    </a>
    <a
      href="#"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök kundens hemsida"
    >
      <Image
        src="https://placehold.co/128x64/171717/404040"
        width="128"
        height="64"
        alt=""
      />
    </a>
    <a
      href="#"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök kundens hemsida"
    >
      <Image
        src="https://placehold.co/128x64/171717/404040"
        width="128"
        height="64"
        alt=""
      />
    </a>
    <a
      href="#"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök kundens hemsida"
    >
      <Image
        src="https://placehold.co/128x64/171717/404040"
        width="128"
        height="64"
        alt=""
      />
    </a>
  </div>
</div>
