---
import { Picture } from "astro:assets";

import imgLastbilsstation from "../img/clients/lastbilsstation.svg"
import imgSkellefteaOrkester from "../img/clients/skellefteaorkester.png"
import imgAnderstorpsGymnasiet from "../img/clients/anderstorpsgymnasiet.png"
---

<div class="flex justify-center px-8 py-24 flex-col gap-10 items-center" id="kunder">
  <h2 class="text-3xl">
    Våra <span class="font-bold">kunder</span>
  </h2>
  <div class="flex max-w-2xl select-none flex-col gap-5 md:flex-row md:gap-24">
    <a
      href="https://www.lastbilsstation.se/index.html"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök Lastbilsstationens hemsida"
      rel="prefetch"
    > 
      <Picture
        src={imgLastbilsstation}
        width="128"
        height="64"
        alt=""
        formats={['avif', 'webp']}
      />
    </a>
    <a
      href="https://orkester.se"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök Skellefteå Orkesterförening hemsida"
      rel="prefetch"
    >
      <Picture
        src="https://placehold.co/256x128/171717/404040"
        width="128"
        height="64"
        alt=""
        formats={['avif', 'webp']}
      />
    </a>
    <a
      href="https://skelleftea.se/invanare/startsida/forskola-skola-och-utbildning/gymnasium/skolor/anderstorpsgymnasiet"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök Anderstorpsgymnasiet hemsida"
      rel="prefetch"
    >
      <Picture
        src="https://placehold.co/256x128/171717/404040"
        width="128"
        height="64"
        alt=""
        formats={['avif', 'webp']}
      />
    </a>
    <!--<a
      href="#"
      target="_blank"
      class="grayscale transition duration-200 hover:grayscale-0"
      aria-label="Besök kundens hemsida"
      rel="prefetch"
    >
      <Picture
        src="https://placehold.co/256x128/171717/404040"
        width="128"
        height="64"
        alt=""
        formats={['avif', 'webp']}
      />
    </a>-->
  </div>
</div>
