<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net" />
<link
  href="https://fonts.bunny.net/css?family=inter:400,700"
  rel="stylesheet"
/>

<div
  class="select-none sm:select-none md:select-none lg:select-none xl:select-none 2xl:select-none"
>
</div>

<!-- Analytics
<script
  type="text/partytown"
  src=`${import.meta.env.PUBLIC_UMAMI_URL}`
  data-website-id=`${import.meta.env.PUBLIC_UMAMI_ID}`></script>
-->
