---
import AboutMemberCard from "../AboutMemberCard.astro";
---

<div class="flex justify-center px-8 py-32" id="omoss">
  <div class="flex flex-col gap-10">
    <div class="flex max-w-2xl flex-col gap-2.5 text-stone-900">
      <h2 class="text-3xl">
        Vilka är <span class="font-bold">WHS Media?</span>
      </h2>
      <p>Text</p>
    </div>
    <div class="flex max-w-2xl flex-col gap-10 md:flex-row md:justify-between">
      <AboutMemberCard
        avatar="https://placehold.co/256x256/171717/404040"
        services={["live", "video", "design"]}
        name="William Hallin"
        title="Design & IT-ansvarig"
        email="william@whsmedia.se"
        phone="+46706159279"
        description="Description"
      />
      <AboutMemberCard
        avatar="https://placehold.co/256x256/171717/404040"
        services={["live", "video", "photo"]}
        name="Hampus Lundmark"
        title="Logistikanvarig"
        email="hampus@whsmedia.se"
        phone="+46706395519"
        description="Description"
      />
      <AboutMemberCard
        avatar="https://placehold.co/256x256/171717/404040"
        services={["live", "video", "photo"]}
        name="Sigge Johansson"
        title="Säljansvarig"
        email="sigge@whsmedia.se"
        phone="+46738433464"
        description="Description"
      />
    </div>
  </div>
</div>
