---
import Button from "../Button.astro";
---

<div class="flex justify-center px-8 py-32" id="konsult">
  <div class="flex flex-col items-center gap-5">
    <div class="flex max-w-2xl flex-col gap-2.5 text-center text-stone-900">
      <h2 class="text-3xl">
        Osäker på vad <span class="font-bold">du</span> behöver?
      </h2>
      <p>
        Vi på WHS Media är redo att hjälpa dig och din organisation med vad du
        än behöver inom mediaproduktion. Våran fullständiga lista på tjänster vi
        erbjuder hittar ni nedan.<br /><br /><span class="font-bold"
          >Är du osäker på vad du egentligen behöver?</span
        > Vi finns här för att hjälpa dig välja ut tjäsnter du är i behov av.
      </p>
    </div>
    <div class="flex w-full flex-col gap-5 sm:w-fit sm:flex-row">
      <Button
        style="solid"
        link="#"
        target="_blank"
        icon="mdi:calendar-check"
        text="Boka ett möte ->"
      />
    </div>
  </div>
</div>
